<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.brainoptimax.peakstate">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon_apps"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_apps"
        android:supportsRtl="true"
        android:theme="@style/Theme.PeakState">
        <activity
            android:name=".ui.dashboard.profile.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ui.quiz.RecommendEnergyQuizActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name=".ui.quiz.RecommendPeakActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name=".ui.quiz.PeakQuizActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name=".ui.quiz.EnergyQuizActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name=".ui.quiz.ResultEnergyQuizActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name=".ui.quiz.ResultPeakQuizActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name=".ui.dashboard.profile.EditProfileActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.emotion.SaveEmotionsActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.emotion.ChooseEmotionsActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.intro.IntroValueGoalsActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name=".ui.valuegoals.ValueGoalsActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.anchoring.AnchoringActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.intro.IntroAnchoringActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.intro.IntroPeakStateQuizActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.intro.IntroEnergyTensionActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name=".ui.quiz.QuizActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.breathing.CompletedBreathingActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.intro.IntroBreathingActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.breathing.MainBreathingActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.emotion.RecommendationEmotionActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.emotion.ResultEmotionActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.emotion.EmotionGaugeActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.intro.IntroEmotionActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.reminders.DetailReminderActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.reminders.AddRemindersActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.reminders.ListRemindersActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name=".ui.dashboard.activator.DetailActivatorActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name="com.brainoptimax.peakstate.ui.intro.IntroSliderActivity"
            android:configChanges="locale"
            android:exported="true" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:configChanges="locale"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="locale"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name="com.theartofdev.edmodo.cropper.CropImageActivity" -->
        <!-- android:theme="@style/Base.Theme.AppCompat" /> &lt;!&ndash; Notification Reminder &ndash;&gt; -->
        <receiver
            android:name=".services.AlarmReceiverReminder"
            android:enabled="true"
            android:label="AlarmReceiver" />
    </application>

</manifest>